#content {
    max-width: 1600px;
    margin: 0 auto;  
}


/*10 centering*/
nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {

    text-align: center;
}

.button-box {
    
    text-align: center;
}

main section {

    text-align: center;
}


/*11 Adding a container 
for our message background*/

#background {
    height: 725px;
    background-color: #d9c2a3;
}
           


/*12 As you apply background colors and text colors make sure you pick colors with a good contrast. 
Go to your site plan for colors that you had in mind for the site. 
Use background-color for backgrounds and color for text or font colors.*/
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.book, .join {
    background-color: white;
}

.book:hover, .join:hover {
    background-color: #d9c2a3;
}

#background {
    background-color: #d9c2a3;
}
.msg {
    background-color: rgba(20, 30, 13, .7) ;
}

footer {
    background-color: rgba(20, 30, 13, .7);
    color: white;
}
footer p a:hover {
    background-color: black;
    color: #d9c2a3;
}

/*13 foreground color*/

nav a {
    color: white;
}
/*nav a:hover {
    background-color: black;
    color: #d9c2a3;
}*/
.home-title {
    color: black;
}
 footer p, footer p a {
    color: white;
 }

.msg h2, .msg p {
    color: white;
}

footer a:hover {
    color: #d9c2a3;
}



/*14 Add a Few Widths*/
.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}
    
/*15 Take off or add the default 
underline of links*/
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 

.book, .join {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

/*larger size to footer text*/
footer p {
    font-size: 1.2em;
}    




/*Add the text-decoration property with a value of underline 
to the following selectors:*/

footer p a:hover {
    text-decoration: underline;
    color: white;
}
