



@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Montserrat&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;  
    background-color: #7678ed;   
}

body {
    font-family:'barlow condensed'; 
    font-size: 22px;
    margin:0;
    padding: 0;


    
}

#aboutme-grid {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
    

}

header {
    display:grid;
    grid-template-columns: 150px auto;
    background: #d4ac0d;
    font-family: 'barlow condensed', Tahoma, sans-serif;
    font-size: 1.3em;
}

nav {
    display: flex;
    justify-content: space-around;

}
nav a { 
    text-align: center;
    text-decoration:none;
    padding: 35px;
}

nav a:hover {
    background-color: #3d348b;
    color: white;
    
} 


.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: double;
    border: 5px solid whitesmoke;
    box-sizing: border-box;
    margin-top: 3px;
       
}

#aboutme-img {
    grid-column: 3/9;
    grid-row: 2/6;
   
}

#aboutme-img:hover {
    opacity: 6;
    transform: scale(1.1);
    
}

#aboutme-img {
    border: 10px solid #3d348b;
    box-shadow: 5px 5px 10px whitesmoke;
    box-sizing: border-box;
    
}

#image-box {
    
    background-color: #433f31;
    height: 500px;
    grid-column: 1/13;
    grid-row: 1/6;

}


#aboutme-msg {
    grid-column: 3/9;
    grid-row: 6/8;
    
}

#aboutme-msg h4{
    color:whitesmoke;
    font-family: 'barlow condensed', Tahoma, sans-serif;
    font-size: 1.3em;
    
}
#aboutme-msg p{
    color:whitesmoke;
    font-family: montserrat, Arial, sans-serif;
    font-size: 1.2em;
}
.aboutme-title {
    color: whitesmoke;
    font-family: 'barlow condensed', Tahoma, sans-serif;
    font-size: 1.5;

    
    
}
/*#work-grid {
    display:grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(9, 1fr);
}*/

.work-img:hover {
    opacity: 6;
    transform: scale(1.1);
}

.work-img{
    border: 10px solid #3d348b;
    box-shadow: 5px 5px 10px whitesmoke;
    box-sizing: border-box;
}
#work-box {
    grid-column: 2/5;
    grid-row: 8/11;
}

.work-achievements {
    grid-column: 8/12;
    grid-row: 8/11;
}
.work-achievements h2{
    color: whitesmoke;
    font-family: 'barlow condensed', Tahoma, sans-serif;

}
.work-achievements p{
    color: whitesmoke;
    font-family: montserrat, Arial, sans-serif;
    font-size: 1.2em;
}  

footer {
    background-color:#d4ac0d;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'barlow condensed', Tahoma, sans-serif;
    font-size: 1.3em;
}

footer p a:hover {
    text-decoration: none;
    color: white;
    background-color: #3d348b;

} 

footer a {
    text-decoration:none;
}
footer p{
    color:#3d348b
}
footer .social img {
    padding-top: 15px;
}

/* Subpage 2 css*/

#portfolio-background{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#portfolio-box{
    grid-column: 2/5;
}

#portfolio-msg{
    grid-column: 6/9;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
}

#work-img {
    grid-column: 3/8;
    
}

#skills {
    grid-column: 1/4;
}

#certifications{
    grid-column: 4/7;
}

#trainings {
    grid-column: 7/10;
}


/*page 3 component form*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #d4ac0d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #3d348b;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/* media query*/

@media screen and (max-width: 900px) {
    #aboutme-grid, #work-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #aboutme-img {
        margin-top: 0;
        width: auto;
    }
    #aboutme-msg {
        margin-top: 0;
    }
    #aboutme-msg h4 {
        display: none;
    }
    .aboutme-title {
        font-size: 25px;
        
    }
    #work-box { 
        margin: 50px auto;
        width: 60%;
    }
    #image-box {
        display: none;
    }
    #work-box, .work-achievements {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            



