

.title image {
    width: 80%;
    margin: 0 auto ;
}

.desk {
    width: 27%;
    margin: 0 auto;

}

.graphic {
    width: 27%;
    margin: 0 auto;

}

.person {
    width: 27%;
    margin: 0 auto;
}